.container {
    display: grid;
    grid-template-columns: 1fr 6fr .5fr 6fr 1fr;
}

@media (max-width: 1024px) {
    .container {
        padding: 3.125rem;
        grid-template-columns: 1fr;
    }
}