.container {    
    display: grid;
    grid-template-columns: 1fr 6fr .5fr 6fr 1fr;
}

.container-features{
    display: grid;
    grid-template-columns: 1fr;
    padding: 0 3.125rem;

    &__columns {
        display: grid;
        grid-template-columns: 2fr 2fr 2fr 2fr;
    }

}

.container-tours {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0 3.125rem;
    margin-bottom: 8.25rem;

    &__columns {
        display: grid;
        grid-template-columns: 2fr 2fr 2fr;
    }
}

@media (max-width:  1366px) {
    .container-features{
    
        &__columns {
            grid-template-columns: 2fr 2fr;
        }
    
    }
}

@media (max-width: 1024px) {
    .container {
        padding: 3.125rem;
        grid-template-columns: 1fr;
    }    
}