*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	border-style: none;
	text-decoration: none;
	box-sizing: inherit;
}

html {
    //This defines what 1rem is, so thats why its not on typography file
	font-size: 100%;
}

body {
	box-sizing: border-box;
}
