*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	border-style: none;
	text-decoration: none;
	box-sizing: inherit;
    list-style: none;
}

html {
    //This defines what 1rem is, so thats why its not on typography file
	font-size: 80%;
}

body {
	box-sizing: border-box;
    padding: 1.875rem;
	font-family: "Lato", sans-serif;
	font-weight: 25rem;
	font-size: 1rem;
	line-height: 1.7;
	color: $color-dark-grey;
}




@media (max-width: 1366px) {
    html {
        //This defines what 1rem is, so thats why its not on typography file
        font-size: 60%;
    }
}

@media (max-width: 1024px) {
    html {
        //This defines what 1rem is, so thats why its not on typography file
        font-size: 40%;
    }
}