*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	border-style: none;
	text-decoration: none;
	box-sizing: inherit;
    list-style: none;
}

html {
    //This defines what 1rem is, so thats why its not on typography file
	font-size: 62.5%;
    
    @include respond(big-desktop) {
        font-size: 75%;
    }
    
    @include respond(tab-land) {
        font-size: 56.25%;
    }
    
    @include respond(tab-port) {
        font-size: 50%;
    }
    
}

body {
	box-sizing: border-box;
    padding: 1.875rem;
	font-family: "Lato", sans-serif;
	font-weight: 25rem;
	font-size: 1rem;
	line-height: 1.7;
	color: $color-dark-grey;

    @include respond(tab-port) {
        padding: 0;
    }
}

::selection {
    background-color: $color-primary;
    color: $color-white;
}